@media screen and (min-width: 1024px){
*{
	font-family: 'Roboto', sans-serif;
}
html{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	background-size: 1024px 768px;
}
.login{
	background-color: #fff;
	width: 120px;
	height: 55px;
	box-shadow: 0px 0px 7px 7px #e0e0e0;
	position: absolute;
	top: 72px;
	left: 1060px;
}
.logintxt{
	color: #000;
	font-size: 19px;
	text-align-last: center;
	position: absolute;
	left: 10%;
	text-decoration: none;
}
.create-id{
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	background-color: #101010;
	box-shadow: 0px 0px 3px 3px #e0e0e0;
	border-right: 51px solid #101010;
	border-left: 12px solid #101010;
	border-bottom: 15px solid #101010;
	border-top: 15px solid #101010;
	border-radius: 1px;
	position: absolute;
	top: 72px;
	left: 1190px;
}
.galilei-logo{
	height: 20px;
	width: 34px;
	position: absolute;
	order: 1;
	top: 70px;
	left: -10px;
	background-color: #fff;
	border-left: 100px solid #fff;
	border-bottom: 20px solid #fff;
	border-top: 20px solid #fff;
	border-right: 10px solid #fff;
	box-shadow: 0px 0px 7px 7px #eee;
}
body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
	opacity: 0%;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 15px;
    border: 4px solid #fff;
}
body::-webkit-scrollbar-button {
    display:none;
}
.learncopy {
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	position: absolute;
	top: 110%;
	left: 40%;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	html{
		margin: 0px;
		padding: 0px;
		background-color: #ffffff;
		background-size: 1024px 768px;
	}
	.galilei-logo{
		height: 20px;
		width: 34px;
		position: absolute;
		order: 1;
		top: 4%;
		left: 2.5%;
	}
	.tab-1 { 
		position: absolute;
		order: 1;
		top: 90%;
		left: 10%;
		width: 300px;
		height: 468px;
		border-radius: 7px;
		background-color: #ffffff;
		box-shadow: 0px 0px 20px 20px #dcdcdc;
		opacity: 1;
		transform: skew(0deg)
	}
	.galilei-learn-logo {
		height: 250px;
		width: 250px;
		order: 1;
		position: absolute;
		top: 10%;
		left: 10%;
	}
	.galilei-learn-logo:hover {
		height: 250px;
		width: 250px;
		order: 1;
		position: absolute;
		top: 10%;
		left: 10%;
		opacity: 0.7;
		cursor: pointer;
		transition: 0.1s;
	}
	.learn-header-txt {
		color: #101010;
		font-family: 'Roboto', sans-serif;
		position: absolute;
		top: 75%;
		left: 15%;
		font-size: 23px;
		text-decoration: none;
		background-color: transparent;
	}
	.learn-header-txt:hover {
		color: #101010;
		font-family: 'Roboto', sans-serif;
		position: absolute;
		top: 75%;
		left: 15%;
		font-size: 23px;
		text-decoration: none;
		background-color: transparent;
		cursor: pointer;
		opacity: 0.7;
	}
	.learncopy {
		font-family: 'Roboto', sans-serif;
		font-size: 34px;
		position: absolute;
		top: 110%;
		left: 400px;
	}
	.tab-2 {
		position: absolute;
		order: 1;
		top: 170%;
		left: 70%;
		width: 300px;
		height: 468px;
		border-radius: 7px;
		background-color: #ffffff;
		box-shadow: 0px 0px 20px 20px #dcdcdc;
		opacity: 1;
		transform: skew(0deg);
	}
	.galilei-stryderx-logo {
		height: 300px;
		width: 300px;
		position: absolute;
		top: 10%;
		left: 1%;
	}
	.galilei-stryderx-logo:hover {
		height: 300px;
		width: 300px;
		position: absolute;
		top: 10%;
		left: 1%;
		opacity: 0.7;
	}
	.stryderx-header-txt {
		color: #101010;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		order: -1;
		position: absolute;
		top: 75%;
		left: 20%;
		background-color: transparent;
		text-decoration: none;
	}
	.stryderx-header-txt:hover {
		color: #101010;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		order: -1;
		position: absolute;
		top: 75%;
		left: 20%;
		background-color: transparent;
		text-decoration: none;
		opacity: 0.7;
	}
	.dot {
	  height: 100px;
	  width: 150px;
	  transform: rotate(0deg);
	  background-color: #fff;
	  border-radius: 1%;
	  position: absolute;	
	  order: 1;
	  top: 2%;
	  left: 10%;
	  opacity: 0;
	}
	body::-webkit-scrollbar {
		background-color: #fff;
		width: 16px;
		opacity: 0%;
	}
	body::-webkit-scrollbar-track {
		background-color: transparent;
	}
	body::-webkit-scrollbar-thumb {
		background-color: #999999;
		border-radius: 15px;
		border: 4px solid #fff;
	}
	body::-webkit-scrollbar-button {
		display:none;
	}
	
}
@media screen and (min-width: 697px) and (max-width: 712px){
}
html{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	background-size: 1024px 768px;
}
.login{
	background-color: #fff;
	width: 120px;
	height: 55px;
	box-shadow: 0px 0px 7px 7px #e0e0e0;
	position: absolute;
	top: 72px;
	left: 1060px;
	text-decoration: none;
}
.logintxt{
	color: #000;
	font-size: 19px;
	text-align-last: center;
	position: absolute;
	left: 10%;
}
.create-id{
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	background-color: #101010;
	box-shadow: 0px 0px 3px 3px #e0e0e0;
	border-right: 51px solid #101010;
	border-left: 12px solid #101010;
	border-bottom: 15px solid #101010;
	border-top: 15px solid #101010;
	border-radius: 1px;
	position: absolute;
	top: 72px;
	left: 1190px;
}
.galilei-logo{
	height: 20px;
	width: 34px;
	position: absolute;
	order: 1;
	top: 70px;
	left: -10px;
	background-color: #fff;
	border-left: 100px solid #fff;
	border-bottom: 20px solid #fff;
	border-top: 20px solid #fff;
	border-right: 10px solid #fff;
	box-shadow: 0px 0px 7px 7px #eee;
}
body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
	opacity: 0%;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 15px;
    border: 4px solid #fff;
}
body::-webkit-scrollbar-button {
    display:none;
}
.learncopy {
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	position: absolute;
	top: 110%;
	left: 40%;
}
}
